    <div id="back-top">
		<a href="#top">
			<i class="fa fa-chevron-up"></i>
		</a>
	</div>
    
	<script type="text/javascript"
		src="{$tpl_path}resource/js/bootstrap.min.js" Charset="utf-8"></script>
	<script type="text/javascript"
		src="{$tpl_path}resource/js/retina.min.js" Charset="utf-8"></script>
	<script type="text/javascript"
		src="{$tpl_path}resource/js/jquery.nicescroll.js" Charset="utf-8"></script>
	<script type="text/javascript"
		src="{$tpl_path}resource/js/jquery.slimscroll.min.js" Charset="utf-8"></script>
	<script type="text/javascript"
		src="{$tpl_path}resource/js/jquery.blockui.min.js" Charset="utf-8"></script>
	<script type="text/javascript"
		src="{$tpl_path}resource/js/jquery.pop.js" Charset="utf-8"></script>
	<script type="text/javascript"
		src="{$tpl_path}resource/js/demo-panel.js" Charset="utf-8"></script>
	<script type="text/javascript" src="{$tpl_path}resource/js/apps.js"
		Charset="utf-8"></script>
	<script src="{$tpl_path}resource/js/bootstrap-datepicker.js"></script>
	<script src="{$tpl_path}resource/js/bootstrap-datepicker.zh-CN.js"></script>
	<script src="{$tpl_path}resource/js/globals.js" type="text/javascript"></script>
	<script src="{$tpl_path}resource/js/windows.js" type="text/javascript"></script>
	<script src="{$tpl_path}resource/js/pagerView.js"
		type="text/javascript"></script>
	<script src="{$tpl_path}resource/js/jquery.tmpl.js"
		type="text/javascript"></script>

</body>
</html>