{include file = 'Public/header.html'}
<!--客户端验证-->
<script type="text/javascript">
        function onverify(){
            var txtName=$("#ctl00_contentHolder_txtName");
            var ddlParentCategory=$("#ctl00_contentHolder_ddlParentCategory");
            var ddlRecommend=$("#ctl00_contentHolder_ddlRecommend");
            var txtSort=$("#ctl00_contentHolder_txtSort");
            var txtImgUrl=$("#ctl00_contentHolder_txtImgUrl");
            var txtInfo=$("#ctl00_contentHolder_txtInfo");
            if(txtName.val()==""){
                txtName.parent().parent().addClass("has-error");
                txtName.focus();
                return false;
            }else{
                txtName.parent().parent().removeClass("has-error");
            }
            if(txtSort.val()==""){
                txtSort.parent().parent().addClass("has-error");
                txtSort.focus();
                return false;
            }else{
                txtSort.parent().parent().removeClass("has-error");
            }
            return true;
        }
        $(function(){
            var id=GetQueryString("id");
            if(id!="")
            {
                $("#divtype").addClass("hide");
            }
        });
        </script>

<form name="aspnetForm" method="post" action="?c={$c}&act=save" id="aspnetForm">
<input type="hidden" name="id" value="{if isset($rs['id'])} {$rs['id']} {/if}"/>
<div>

</div>

<div class="panel panel-default" style="margin-top:15px;">
<div class="panel-heading">
<h3 class="panel-title">
<i class="fa fa-cubes"></i>
修改分类
</h3>
</div>
<div id="panel-collapse-4" class="collapse in" style="height: auto;">
<div class="panel-body">
{if isset($success)}
<div class="alert alert-success alert-block fade in alert-dismissable" >
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<strong>{$success}</strong>
</div>
{/if}
{if isset($failed)}
<div class="alert alert-danger alert-block fade in alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<strong>{$failed}</strong>
</div>
{/if}
<div class="form-horizontal">
	<div class="form-group">
		<label class="control-label col-md-3">名称：</label>
		<div class="col-md-4">
			<input name="name" type="text" id="ctl00_contentHolder_txtName" class="form-control" value="{$rs['name']}" />
			<p class="help-block">名称不能为空</p>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-3">排序字段：</label>
		<div class="col-md-4">
			<input name="sort" type="text" id="ctl00_contentHolder_txtSort" class="form-control num" value="{$rs['sort']}" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-3">是否启用：</label>
		<div class="col-md-4">
			<select name="status" id="ctl00_contentHolder_ddlRecommend" class="form-control productType">
				<option {if $rs['status']}selected="selected"{/if} value="1">是</option>
				<option {if !$rs['status']}selected="selected"{/if} value="0" >否</option>

			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-4 col-md-9">
			<input type="submit" value="确定" onclick="return onverify();" id="ctl00_contentHolder_btnOK" class="btn btn-primary" />
			<a href="?c={$c}" class="btn btn-default">返回</a>
		</div>
	</div>
</div>
</div>
</div>
</div>

</form>
</div>
</div>
{include file = 'Public/footer.html'}