<!doctype html>
<html>
<head>
<title>404 - Page Not Found!</title>
<meta charset="utf-8">
<style type="text/css">
{literal}
h1{font:normal normal 54px/1em "microsoft yahei";vertical-align:middle;}
h1 span{font-family:"microsoft yahei";font-size:45px;}
body{margin:100px auto;width:560px;font-family:"microsoft yahei";}
.msg{padding-left:50px;font-family:"microsoft yahei";font-size:28px;padding-bottom:50px;}
.link{text-align:center;}
.red{color:red;}
a{color:blue;}
{/literal}
</style>
</head>
<body>
<h1><span>:-(</span>  <span class="red">404</span></h1>
<div class="msg"> PAGE NOT FOUND !</div>
<div class="link"><strong>Portal:</strong> Click <a href="./">here</a> to go Home.</div>
</body>
</html>