{include file='Public/header.html'}
<style type="text/css">
{literal}
/* pop */
#pop{background:#fff;width:260px;border:1px solid #e0e0e0;font-size:12px;position:fixed;right:10px;bottom:10px;}
#popHead{line-height:32px;background:#f6f0f3;border-bottom:1px solid #e0e0e0;position:relative;font-size:12px;padding:0 0 0 10px;}
#popHead h2{font-size:14px;color:#666;line-height:32px;height:32px;margin: 0;}
#popHead #popClose{position:absolute;right:10px;top:1px;}
#popHead a#popClose:hover{color:#f00;cursor:pointer;}
#popContent{padding:5px 10px;}
#popTitle a{line-height:24px;font-size:14px;font-family:'微软雅黑';color:#333;font-weight:bold;text-decoration:none;}
#popTitle a:hover{color:#f60;}
#popIntro{text-indent:24px;line-height:160%;margin:5px 0;color:#666;}
#popMore{text-align:right;border-top:1px dotted #ccc;line-height:24px;margin:8px 0 0 0;}
#popMore a{color:#f60;}
#popMore a:hover{color:#f00;}

.windowsdialog .dialog-word li{list-style-type: none;};
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{margin-left: 0;}
.form-horizontal .radio{padding-top:0;}
@media(max-width:767px)
{
    #yw{display:none}
}
{/literal}
</style>

<!--主体-->
<form name="aspnetForm" method="post" action="?c=Admin&act=savezh" id="aspnetForm">

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['aspnetForm'];
if (!theForm) {
    theForm = document.aspnetForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script>
function CheckChanged(){  
    var frm = document.aspnetForm;  
    var boolAllChecked;  
    boolAllChecked=true;  
    for(i=0;i< frm.length;i++)  {    
        e=frm.elements[i];  
        if ( e.type=='checkbox' && e.name.indexOf('checkboxCol') != -1 ) {        
            if( e.checked == true) {             
                b = e.parentNode.parentNode;             
                b.style.background = '#FBFBF4';           
            } else {             
                b = e.parentNode.parentNode;             
                b.style.background = '#ffffff';           
            }  
        }    
    } 
} 
</script> 
<script> 
function CheckReverse() { 
    var frm = document.aspnetForm;  
    var boolAllChecked;  boolAllChecked=true;  
    for(i=0;i< frm.length;i++)  {         
        e=frm.elements[i];     
        if(e.type=='checkbox' && e.name.indexOf('checkboxCol') != -1) {         
            if( e.checked== false) {              
                e.checked = true;              
                b = e.parentNode.parentNode;              
                b.style.background = '#FBFBF4';           
            } else {             
                e.checked = false;             
                b = e.parentNode.parentNode;             
                b.style.background = '#ffffff';            
            }          
        }    
    } 
}  
</script> 
<script> 
function CheckClickAll() { 
    var frm = document.aspnetForm;  
    for(i=0;i< frm.length;i++) {         
        e=frm.elements[i];        
        if(e.type=='checkbox' && e.name.indexOf('checkboxCol') != -1) {            
            e.checked= true ;             
            b = e.parentNode.parentNode;             
            b.style.background = '#FBFBF4';            
        }        
        if(e.type=='checkbox' && e.name.indexOf('checkboxHead') != -1) { 
            e.checked= true ;  
        } 
    }  
}
</script>
                


<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['aspnetForm'];
if (!theForm) {
    theForm = document.aspnetForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


                

           
                
<div class="panel panel-default" style="margin-top:15px;">
      <div class="panel-heading">
	    <h3 class="panel-title"><i class="fa fa-cubes"></i>  添加账户</h3>
      </div>
	    <div id="panel-collapse-4" class="collapse in" style="height: auto;">
	      <div class="panel-body">
		       <div id="msgDiv"></div>
		       <div class="form-horizontal">
		            <div class="form-group">                     
                        <label class="control-label col-md-3">帐号：</label>                     
                        <div class="col-md-4">      
                            <input name="username" type="text" id="ctl00_contentHolder_txtBrandName" class="form-control">
                        </div> 
                        <div class=" col-md-4">
                            <span id="ctl00_contentHolder_lbshow"></span>&nbsp;&nbsp;
                        </div>                
                    </div>
                   <div id="ctl00_contentHolder_IsPwShow">
	
                    <div class="form-group">                     
                        <label class="control-label col-md-3">密码：</label>                     
                        <div class="col-md-4">     
                            <input name="password" type="password" id="ctl00_contentHolder_txtPw" class="form-control">
                        </div>                 
                    </div>
                    <div class="form-group">                     
                        <label class="control-label col-md-3">确认密码：</label>                     
                        <div class="col-md-4">      
                            <input name="password2" type="password" id="ctl00_contentHolder_txtQRPw" class="form-control">
                        </div>                 
                    </div>
                   
</div>
                    
                    <div class="form-group">                     
                        <label class="control-label col-md-3">姓名：</label>                     
                        <div class="col-md-4">      
                            <input name="real_name" type="text" id="ctl00_contentHolder_txtName" class="form-control">
                            <p id="ctl00_contentHolder_txtkeywordTip"></p>
                        </div>                 
                    </div>
                    

                    <div id="divrloe" class="form-group">                     
                        <label class="control-label col-md-3">角色类型：</label>                     
                        <div class="col-md-4" style="padding-top: 7px;" id="divRlieid"><table id="ctl00_contentHolder_rblRloe" class="radiorblType" border="0">
	<tbody><tr>
                            {if $rslist2}
                        {foreach $rslist2 as $key=>$value}
		<td><input id="ctl00_contentHolder_rblRloe_0" type="radio" name="myradio" value="{$value['id']}" checked="checked"><label for="ctl00_contentHolder_rblRloe_0">{$value["title"]}</label></td>
                                {/foreach}
                        {/if}
        
	</tr>
</tbody></table></div>                 
                    </div>
                    <div class="form-group">              
                        <div class="col-md-offset-4 col-md-9">
                            <input type="submit" name="ctl00$contentHolder$btnSave" value="保 存" onclick="return onverify();" id="ctl00_contentHolder_btnSave" class="btn btn-primary">
                                                                                								<input type="button" value="返回" onclick="location='?c=Admin'"
									class="btn btn-primary" /> 
                        </div>         
                    </div>
		       </div>
	      </div>
	    </div>
    </div>


            </form>
		</div>

		
        

<!--/主体-->

{literal}
<script type="text/javascript">
   
    $(function() {
        var pager = new PagerView('pager_div');
        pager.pageSize = 10;
  
        pager.totalRecord = $("#ctl00_contentHolder_Count").val();
        pager.pageIndex = $("#ctl00_contentHolder_PageIndex").val();
        pager.render();
        pager.onclick = function(startIndex, endIndex) {
            var url = window.location.href.replace("&pageindex=" + $("#ctl00_contentHolder_PageIndex").val(), "").replace("?pageindex=" + $("#ctl00_contentHolder_PageIndex").val(), "");
            var pageindex = "&pageindex=";
            if (url.indexOf('?') < 0) {
                pageindex = "?pageindex=";
            }
            window.location.href = url + pageindex + pager.pageIndex;
        }
    });
    //全选
    $(function(){
        $("#ctl00_contentHolder_cbAllProductId").change(function(){
            $("input[type='checkbox']").prop("checked",$(this).is(':checked'));
        });
        BindCB();
    });
    function BindCB(){
        $(".table tbody input[type='checkbox']").change(function(){
            if($(".table").find("tbody input[type='checkbox']:checked").length==$(".table").find("tbody input[type='checkbox']").length){
                $("#ctl00_contentHolder_cbAllProductId").prop("checked",true);
            }else{
                $("#ctl00_contentHolder_cbAllProductId").prop("checked",false);
            }
        });
    }
</script>
<script>var ctrl='{$c}';</script>
{/literal}
<script type="text/javascript" src="{$tpl_path}resource/js/list.js" ></script>
{include file='Public/foot.html'}